{% extends '../base.html' %}

{% block title %}CSTF - Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Login</button>

        <p>¿Sin cuenta? <a href="/signup/">Registrate</a></p>
    </form>
{% endblock %}