{% extends '../base.html' %}

{% block title %}CSTF - Registrate{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Registrarme</button>
        <p>¿Ya tienes cuenta? <a href="/login/">Logueate</a></p>
    </form>
{% endblock %}