{% extends 'base.html' %}

{% block title %}CSTF - Dar de alta docente{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Dar de alta</button>
        <p>Si quieres unirte a un proyecto debes de darte de alta al proyecto <a href="/buscar_proyecto">Buscar Proyecto</a></p>
    </form>
{% endblock %}