<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-RZhhPUe7Rw4Dlu7PQKSTX4YMCYMbB2Kfnq1K8Yb/wVON9+5N3tSVr9Q8kqmMy08a5Vk9YY2vFq9GqiGpw5z4Zg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title%}CSTF{%endblock%}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <img src="https://salud.unca.edu.ar/images/sitio/images/Logo_UNCA.jpg"
            width="70px" height="70px">
            <a class="navbar-brand" href="/">CSTF U.N.Ca</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="proyectosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Proyectos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="proyectosDropdown">
                            <a class="dropdown-item" href="/buscar_proyecto">Ver Proyectos</a>
                            {% if user.groups.all.0.name == "cstf"  or user.is_superuser  %}
                                <a class="dropdown-item" href="/presentar_proyecto">Crear Proyecto</a>
                            {% endif %}
                        </div>
                    </li>
                    {% if user.groups.all.0.name == "cstf" or user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="/alta_alumno">Alta alumno</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alta_docente">Alta docente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alta_integrante">Alta Integrante</a>
                    </li>
                    {% endif %}
                    <!-- Add more menu items here -->
                    {% if user.is_authenticated %}
                    <span class="navbar-text">Logged as {{ user.username }} {{ user.last_name }} |</span>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        // Initialize Bootstrap components
        $(document).ready(function () {
            $('[data-toggle="dropdown"]').dropdown();
        });
    </script>
</body>
</html>
