{% extends 'base.html' %}

{% block title %}CSTF - Proyectos{% endblock %}

{% block content %}

<form method="get" class="mt-2" action="">
    <input type="text" name="proyecto_id" placeholder="Buscar por ID">
    <button type="submit">Buscar</button>
</form>

{% for data in proyecto_data %}

    <div class="card mt-2">
        <div class="card-header">
            <strong>@{{ data.proyecto.id }}</strong>
        </div>
        <div class="card-body d-flex-flex-row justify-content-between">
            <div>
                <h5 class="card-title">
                    {{ data.proyecto.titulo }}
                    <p>
                        {{ data.proyecto.descripcion }}
                    </p>
                </h5>
                <h6>Seguimiento:</h6>
                <ul>
                    {% for seguimiento in data.seguimiento_data %}
                        <li>{{ seguimiento.estado }} - {{ seguimiento.f_estado }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                {% if user.groups.all.0.name == "cstf"  or user.is_superuser %}
                    <a href="/evaluar_cstf/{{data.proyecto.id}}" class="href"><button class="btn btn-success btn-sm">Evaluar CSTF</button></a>
                {% endif %}
            </div>
                {% if user.groups.all.0.name == "cstf"  or user.is_superuser %}
            <div style="margin-top: 1em !important">
                <a href="{% url 'asignar_tribunal' data.proyecto.id %}"><button class="btn btn-secondary btn-sm">Asignar un tribunal</button></a>
            </div>{% endif %}

            {% if user.groups.all.0.name == "cstf"  or user.is_superuser %}
            <div style="margin-top: 1em !important">
                <a href="/evaluar_tribunal/{{data.proyecto.id}}" class="href"><button class="btn btn-success btn-sm">Evaluar Tribunal</button></a>
            </div>
            {% endif %}
            {% if user.groups.all.0.name == "cstf"  or user.is_superuser %}
            <div style="margin-top: 1em !important">
                <a href="{% url 'cargar_borrador' data.proyecto.id %}"><button class="btn btn-secondary btn-sm">Cargar Borrador TF</button></a>
            </div>
            {% endif %}
            
            {% if user.groups.all.0.name == "docente"  or user.is_superuser %}
            <div style="margin-top: 1em !important">
                <a href="/evaluar_tf/{{data.proyecto.id}}" class="href"><button class="btn btn-success btn-sm">Evaluar Borrador Tf</button></a>
            </div>
            {% endif %}
            
            {% if user.groups.all.0.name == "cstf"  or user.is_superuser %}
            <div style="margin-top: 1em !important">
                <a href="{% url 'asignar_fecha_defensa' data.proyecto.id %}"><button class="btn btn-secondary btn-sm">Designar fecha para la defensa</button></a>
            </div>
            {% endif %}
        </div>
        <div class="card-footer text-muted">{{ data.proyecto.created_at }}</div>
    </div>
{% empty %}
<p>No hay proyectos aún</p>
{% endfor %}

{% endblock %}