{% extends 'base.html' %}

{% block title %}CSTF - Cargar borrador Tf{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Cargar</button>
    </form>
{% endblock %}