{% extends 'base.html' %}

{% block title %}CSTF - Agregar alumno al proyecto{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
    <form id="conforman-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        
        <!-- Hidden input field to store the alumno_id -->
        
        <div style="gap: 1em; display: flex;">
            <button type="button" id="check-alumno" class="btn btn-info">Check Alumno</button>
            <input type="hidden" id="alumno_id" name="alumno_id" value="">
            <button type="submit" class="btn btn-success" disabled>Submit</button>
            
        </div>
    </form>

    

    

    <h3>Alumnos en este proyecto</h3>
    <table class="table table-striped" style="padding: 1em !important;">
        <thead>
          <tr>
            <th scope="col">Alumno</th>
            <th scope="col">Fecha Alta</th>
            <th scope="col">Fecha Baja</th>
            <th scope="col">Dar de baja</th>
          </tr>
          {% for alumno in alumnos %}
            <tr>
                <td>
                    <p>{{alumno.idalumno.apellido}} {{alumno.idAlumno.nombre}}</p>
                </td>
                <td>
                    <p>{{alumno.fechaAlta|date:"Y-m-d H:i:s"}}</p>
                </td>
                <td>
                    <p>{{alumno.fechaBaja|date:"Y-m-d H:i:s"}}</p>
                </td>
                <td>
                    <button class="btn btn-danger">Baja</button>
                </td>
            </tr>
          {% endfor %}
        </thead>
    </table>

    <a style="padding-top: 1em;" href="/presentar_proyecto/cargar_docentes/"><button class="btn btn-primary">Cargar docente >></button></a>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#check-alumno").click(function () {
                var dni = $("#id_dni").val();  // Adjust the ID based on your form
                $.ajax({
                    url: "/check_alumno/",  // Replace with your actual URL
                    type: "GET",
                    data: { dni: dni },
                    success: function (data) {
                        if (data.alumno_found) {
                            alert("Alumno found with ID: " + data.alumno_id);
                            // Pass the alumno_id to the next view, for example, by storing it in a hidden input field
                            $("#alumno_id").val(data.alumno_id);
                            $("#conforman-form :submit").prop("disabled", false);
                        } else {
                            alert("Alumno not found!");
                        }
                    },
                    error: function () {
                        alert("Error checking Alumno.");
                    }
                });
            });
        });
    </script>
{% endblock %}