{% extends 'base.html' %}

{% block title %}CSTF - Agregar docente al proyecto{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
    <form id="docente-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="button" id="check-docente" class="btn btn-info">Check Docente</button>
        <input type="hidden" id="docente_id" name="docente_id" value="">
        <button type="submit" class="btn btn-success" disabled>Submit</button>
    </form>

    <h3>Docentes en este proyecto</h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Docente</th>
            <th scope="col">Rol</th>
            <th scope="col">Dar de baja</th>
          </tr>
        </thead>
        {% for docente in docentes %}
            <tr>
                <td>
                    <p>{{docente.idDocente.apellido}} {{docente.idDocente.nombre}}</p>
                </td>
                <td>
                    <p>{{docente.rol.rol}}</p>
                </td>
                <td>
                    <button class="btn btn-danger">Baja</button>
                </td>
            </tr>
          {% endfor %}
    </table>

    <a style="padding-top: 1em;" href="/buscar_proyecto/"><button class="btn btn-primary">Terminar >></button></a>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
    $("#check-docente").click(function () {
        var cuil = $("#id_cuil").val();  // Adjust the ID based on your form
        $.ajax({
            url: "/check_docente/",  // Replace with your actual URL
            type: "GET",
            data: { cuil: cuil },
            success: function (data) {
                if (data.docente_found) {
                    alert("Docente encontrado: " + data.docente_id);
                    // Pass the docente_id to the next view, for example, by storing it in a hidden input field
                    $("#docente_id").val(data.docente_id);

                    // Clear existing options in the select
                    $("#rol_option").empty();

                    // Insert options retrieved from the server
                    for (var i = 0; i < data.opciones.length; i++) {
                        $("#rol_option").append('<option value="' + data.opciones[i].id + '">' + data.opciones[i].rol + '</option>');
                    }

                    $("#docente-form :submit").prop("disabled", false);
                } else {
                    alert("No hay docentes que coincidan");
                }
            },
            error: function () {
                alert("Error checking");
            }
        });
    });
});
    </script>
{% endblock %}