{% extends 'base.html' %}

{% block title %}CSTF - Agregar Roles del docente en el proyecto{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Cargar Rol</button>
    </form>
{% endblock %}