{% extends 'base.html' %}

{% block title %}CSTF - Alta de Integrante CSTF{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Display the search form -->
    <form method="post" class="mt-2" action="">
        {% csrf_token %}
        {{ search_form|crispy }}
        <button type="submit">Buscar</button>
    </form>
    
    <!-- Display search results -->
    {% if user_first_name %}
    <p>Usuario encontrado:</p>
    <p>Nombre: {{ user_first_name }} {{ user_last_name }}</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ alta_form|crispy }}
        <!-- Add a hidden input field to store the user's ID -->
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <button type="submit" class="btn btn-success">Dar de alta</button>
    </form>
    {% else %}
        <p>Usuario no encontrado</p>
    {% endif %}
{% endblock %}





