{% extends 'base.html' %}

{% block title %}CSTF - Agregar estados de proyectos{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <p class="mt-2">Aquí cargaras los estados en los que se pueden clasificar los proyectos cuando la CSTF y el Tribunal los evalua</p>
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Cargar Rol</button>
    </form>
{% endblock %}