{% extends 'base.html' %}

{% block title %}CSTF - Evaluar CSTF{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 

    <div>
        <h3>Proyecto: {{proyecto.titulo}}</h3>
        <hr>
        <ul class="list-group">
            <p>Integrantes</p>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha Alta</th>
                    <th scope="col">Fecha Baja</th>
                    <th scope="col">Dar de baja</th>
                  </tr>
                </thead>
                <tbody>
                    {% for alumno in grupo.alumnos %}
                    <tr>
                        <th scope="row">{{ alumno.0 }}</th>
                        <td>{{ alumno.1 }}</td>
                        <td>{{ alumno.2 }}</td>
                        <td>{{ alumno.3 }}</td>
                        <td><button class="btn btn-danger btn-sm">Dar baja</button></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </ul>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        
        <button type="submit" class="btn btn-success">Evaluar el proyecto</button>
    </form>
{% endblock %}
