{% extends 'base.html' %}

{% block title %}CSTF - Asignar Fecha Defensa {% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
    <h3>Asignar fecha apra la defensa {{id}}</h3>
    <form id="tribunal-form" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}