{% extends 'base.html' %}

{% block title %}CSTF - Asignar Tribunal {% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
    <h3>Cargar Disposición para Proyecto #</h3>
    <form id="tribunal-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}