<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title%}CSTF{%endblock%}</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div>
                <ul class="navbar-nav">
                    <li class="navbar-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="/buscar_proyecto">Proyectos</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="/presentar_proyecto">Presentar Proyecto</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="/alta_alumno">Darme de alta como alumno</a>
                    </li>
                </ul>
                <div>
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <span class="navbar-text">Logged as {{user.first_name}} {{user.last_name}} |</span>
                        <li class="navbar-item">
                            <a class="nav-link" href="/logout">Log out</a>
                        </li>
                        {% else %}
                        <li class="navbar-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>